body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

a.nav-space{
	padding-right: 10px; 
}

div.resp-background-ok {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
	height: 250px;
	width: 500px;
}

div.resp-background-ok-nm {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
	height: 50px;
	width: 500px;
}

div.resp-background-err {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
	height: 50px;
	width: 500px;
}

div.resp-xs-1, div.resp-xs-2, div.resp-xs-3 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	background: transparent;
}

div.resp-xs-1, div.resp-xs-2, div.resp-xs-4 {
	float: left;
}

div.resp-xs-1 {
	width: 40%;
	color: #55aa57;
}

div.resp-xs-2 {
	width: 60%;
}

